<link rel="stylesheet" href="~/HotMall/css/style.css">
<link rel="stylesheet" href="~/HotMall/css/product.css">
<link rel="stylesheet" href="~/HotMall/css/custome.css">
<link rel="stylesheet" href="~/HotMall/css/custome-responsive.css">

<!-- Sweet Alert 2 -->
<script src="~/Lucid/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="~/Lucid/assets/vendor/sweetalert2/dist/sweetalert2.min.css">

<script>
    $(document).ready(function () {

        //Just to make the menu to have active line and color black
        if ('@ViewBag.HeaderPage' == "Home") {
            $('.homez').addClass("active-nav");
        }
        else if ('@ViewBag.HeaderPage' == "Win") {
            $('.playGamez').addClass("active-nav");
        }
        else if ('@ViewBag.HeaderPage' == "Profile") {
            $('.profilez').addClass("active-nav");
        }

        $(".homez").click(function (evt) {
            $('.loader-wrap').show();
            location.href = "Home";
        });

        $(".playGamez").click(function (evt) {
            $('.loader-wrap').show();
            location.href = "/User/PlayGame";
        });

        $(".profilez").click(function (evt) {
            $('.loader-wrap').show();
            location.href = "/User/Profile";
        });





        $("#redpackatList").click(function (evt) {
            $('.loader-wrap').show();
            location.href = "/User/RedPacketListing";
        });

        $("#redpackatclaimList").click(function (evt) {
            $('.loader-wrap').show();
            location.href = "/User/RedPacketClaimListing";
        });

        $("#loginBtn").click(function (evt) {
            var url = '@Url.Action("ClientLogin", "UserLogin", new { })';

            window.location.href = url;
        });

        @*$("#aboutUsBtn").click(function (evt) {
            $('.loader-wrap').show();
            var url = '@Url.Action("AboutUs", "User", new { })';
            window.location.href = url;
        });

        $("#privacyPolicyBtn").click(function (evt) {
            $('.loader-wrap').show();
            var url = '@Url.Action("PrivacyPolicy", "User", new { })';
            window.location.href = url;
        });*@

        $("#editProfile").click(function (evt) {
            $('.loader-wrap').show();
            var url = '@Url.Action("EditProfile", "UserLogin", new {  })';
            window.location.href = url;
        });

        //after data is loaded then hide it
        $('.loader-wrap').hide();
        });
</script>

<header class="section-wrap">
    <!-- Logo section -->
    <div class="header-inner-wrapper">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="index.html">
                <img src="~/HotMall/img/logo.jpg" alt="" class="logo">
            </a>
            <a class="app-btn d-flex align-items-center" href="xxx.apk">
                Open
                With an App <i class="bi bi-cloud-arrow-down-fill ms-2 mt-1"></i>
            </a>
        </div>
    </div>
</header>
<!--Navgation on Desktop-->
<nav id="menu-nav" class="section-wrap bg-white z-index-10">
    <div class="section-inner-wrapper nav-mobile">
        <div class="w-100 navbar-links ">
            <div class="container-fluid">
                <ul class="d-flex justify-content-around w-100 navbar-links-ul m-0">
                    <li class="nav-item">
                        <a class="nav-link homez" aria-current="page" href="#">
                            <i class="bi bi-house-fill me-2"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/User/ProductListing">
                            <i class="bi bi-search me-2"></i> Search
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link playGamez" aria-current="page" href="#">
                            <i class="bi bi-trophy-fill me-2"></i> Win
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profilez" aria-current="page" href="#">
                            <i class="bi bi-person-circle me-2"></i> Profile
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>