@using FreshMVC.Models
@using resSharedPB = FreshMVC.Resources.PackBuddyShared;
@model PaginationRedPacketModel
@inject IJsonHelper Json;

    <script type="text/javascript">

        $(document).ready(function () {
            $('.loader-wrap').hide();

            $("#btnCreate").click(function (evt) {
                location.href = "/User/MyPacketSponsorTreeListing";
            });

            $(".editTask").click(function (evt) {
                location.href = "/User/ModelEditRedPacket?idz=" + this.id;
            });

        });



    </script>

    <div class="section-inner-wrapper padding-s" style="overflow: visible;">
        <div class="display-space">
            <div class="middle">
            </div>
            <div>
                <div class="d-flex flex-column ">
                    <div class="text-bold text-s">@resSharedPB.lblAvailRedPacketBalance</div>
                    <h2 class="text-m">₹ @Model.RedPacketBalance</h2>
                </div>
            </div>
            <div class="recharge-history">
                <button type="button" class="btn btn-link menu-btn">
                    <i id="btnCreate" class="bi bi-plus" style="font-size:35px; color:white; background-color:red; border-radius:10px;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mx-auto">
        @foreach (var itemz in @Model.List)
        {
            <div class="record-card mt-3">
                <p class="record-text">@resSharedPB.lblReferenceID : <span>@itemz.ReferenceID</span></p>
                <p class="record-text">@resSharedPB.lblUsername : <span>@itemz.Username</span></p>
                <p class="record-text">@resSharedPB.lblCreatedOn : <span>@itemz.CreatedOn</span></p>
                <p class="record-text">@resSharedPB.lblAmount: <span>@itemz.Amount</span></p>
                <p class="record-text">@resSharedPB.lblClaimedOn: <span>@itemz.ClaimedOn</span></p>
                @*<a class="" href="/User/ModelEditRedPacket?idz=@itemz.ID"><span style="color:white; text-decoration:underline;">@resSharedPB.lblView</span></a>*@

                <div class="currency-icon">
                    <i class="bi bi-currency-rupee"></i>
                </div>
            </div>
        }
    </div>