<!DOCTYPE html>
@using FreshMVC.Models
@using resSharedPB = FreshMVC.Resources.PackBuddyShared;
@model MemberGamePageModel
@inject IJsonHelper Json;
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product - Reliance</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="foot-skip">
        @Html.Partial("HeaderMenu")

        <main>
            <input type="hidden" id="periodzId" />
            <input type="hidden" id="gamezId" />
            <input type="hidden" id="selectedPositionz" />
            <section class="section-wrap ">
                <section class="section-wrap bg-peach px-lg-4 px-1">
                    <div class="section-inner-wrapper padding-s " style="overflow: visible;">
                        <div class="d-lg-flex d-md-flex justify-content-between ">
                            <div class="d-flex flex-column ">
                                <div class="text-bold text-white text-s">Available Balance:</div>
                                <h2 class="text-m text-white">₹ @Model.Balance</h2>
                            </div>
                            <div class="d-flex align-items-center mt-lg-0 mt-md-0 mt-3">
                                <div>
                                    <a href="recharge.html" class="blue-btn-recharge">Recharge</a>
                                </div>
                                @*Hide*@
                                @*<div class="ms-3">
                                        <a href="trend.html" class="white-btn">Trend</a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="games-slider">
                        <div class="section-inner-wrapper p-0 w-100">
                            <div class="tab ">
                                @for (var z = 0; z < Model.GameList.Count; z++)
                                {
                                    string active = "";

                                    if (z == 0)
                                    {
                                        active = "active";
                                    }

                                    <button class="tablinks @Model.GameList[z].Name @active" gameidzzz="@Model.GameList[z].GameID" gamenamezzz="@Model.GameList[z].Name" onclick="openCity(event, '@Model.GameList[z].Name')">@Model.GameList[z].Name</button>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Tab content -->
                    @for (var z = 0; z < Model.GameList.Count; z++)
                    {
                        var display = "hidden";

                        if (z == 0)
                        {
                            display = "block";
                        }

                        <div id="@Model.GameList[z].Name" class="tabcontent " style="display: @display;">
                            <div class="section-inner-wrapper  px-lg-4 py-0 px-0 overflow-hidden">
                                <div class="container-fluid p-0 bg-peach-2 px-2 py-3">
                                    <div class="row">
                                        <div class="col-lg-12 mx-auto d-flex justify-content-between flex-lg-row flex-column">
                                            <div>
                                                <div class="d-flex flex-column mb-lg-0 mb-3">
                                                    <div class="text-bold text-s">@resSharedPB.lblPeriod</div>
                                                    <h2 class="text-m">@Model.GameList[z].CurrentPeriod</h2>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="d-flex flex-column ">
                                                    <div class="text-bold text-s mb-1">Count Down</div>
                                                    <button class="continue-btn continue-enable mb-0 " id="btnContinue" type="button" style="background-color:green; color:white; max-width:100px;">
                                                        Continue
                                                    </button>
                                                    <div class="clock-count-down">
                                                        <button class="clock-count-down-number promoMinute">
                                                        </button>
                                                        <p class="clock-space mb-0 mx-1">:</p>
                                                        <button class="clock-count-down-number promoSecond">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-lg-3 py-2">
                                    <button class="green-btn join-btn allbtnable playPopup" posiz="green" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                            data-bs-target="#greenModal">
                                        @resSharedPB.lblJoinGreen
                                    </button>
                                    <button class="violate-btn join-btn allbtnable playPopup" posiz="violet" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                            data-bs-target="#greenModal">
                                        @resSharedPB.lblJoinViolet
                                    </button>
                                    <button class="red-btn join-btn allbtnable playPopup" posiz="red" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                            data-bs-target="#greenModal">
                                        @resSharedPB.lblJoinRed
                                    </button>
                                </div>
                                <div class="container-fluid ">
                                    <div class="row justify-content-between">
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="0" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                0
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="1" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                1
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="2" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                2
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="3" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                3
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="4" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                4
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="5" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                5
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="6" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                6
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="7" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                7
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="8" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                8
                                            </button>
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="number-btn allbtnable playPopup" posiz="9" periodz="@Model.GameList[z].CurrentPeriod" gamez="@Model.GameList[z].GameID" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#greenModal">
                                                9
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 p-0 mt-3">
                                            <h1 class="main-heading-3">
                                                <i class="bi bi-trophy"></i> Parity Record
                                            </h1>

                                            <table id="" class="display mt-2 parityRecord">
                                                <thead class="record-table">
                                                    <tr>
                                                        <th class="text-center">@resSharedPB.lblPeriod</th>
                                                        <th class="text-center">@resSharedPB.lblPrice</th>
                                                        <th class="text-center">@resSharedPB.lblNumber</th>
                                                        <th class="text-center">@resSharedPB.lblResult</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="record-table-body">
                                                    @foreach (var x in @Model.GameList[z].HistoryList)
                                                    {
                                                        <tr>
                                                            <td class="text-center">@x.Period</td>
                                                            <td class="text-center">@x.Price</td>
                                                            <td class="green-number text-center">@x.ResultNumber</td>
                                                            <td class="text-center">
                                                                <div class="d-flex justify-content-center">
                                                                    @if (x.ResultNumber == 0 || x.ResultNumber == 5)
                                                                    {
                                                                        <div class="violate-result"></div>
                                                                    }

                                                                    @if (x.ResultNumber == 5 || x.ResultNumber == 1 || x.ResultNumber == 3 || x.ResultNumber == 7 || x.ResultNumber == 9)
                                                                    {
                                                                        <div class="green-result"></div>
                                                                    }

                                                                    @if (x.ResultNumber == 0 || x.ResultNumber == 2 || x.ResultNumber == 4 || x.ResultNumber == 6 || x.ResultNumber == 8)
                                                                    {
                                                                        <div class="red-result"></div>
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-12 p-0 mt-3">
                                            <h1 class="main-heading-3">
                                                <i class="bi bi-bar-chart-line"></i> My Record
                                            </h1>

                                            <table id="" class="display mt-2 myRecord">
                                                <thead class="record-table">
                                                    <tr>
                                                        <th class="text-center">@resSharedPB.lblPeriod</th>
                                                        <th class="text-center">@resSharedPB.lblPrice</th>
                                                        <th class="text-center">@resSharedPB.lblNumber</th>
                                                        <th class="text-center">@resSharedPB.lblWin</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="record-table-body">
                                                    @foreach (var x in @Model.GameList[z].MyRecordHistoryList)
                                                    {
                                                        <tr>
                                                            <td class="text-center">@x.Period</td>
                                                            <td class="text-center">@x.Price</td>
                                                            <td class="green-number text-center">@x.ResultNumberString</td>
                                                            <td class="green-number text-center">@x.Won</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </section>

            </section>
        </main>
    </div>

    @Html.Partial("FooterMenu")

    <!-- Join Green -->
    <div class="modal fade" id="greenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  ">
                <div class="modal-header" id="playPopupHeaderID">
                    <h5 class="modal-title" id="modalplaypopTitle">@resSharedPB.lblJoinGreen</h5>
                </div>
                <div class="modal-body">
                    <div class="join-modal">
                        <p class="mb-2">Contract Money</p>
                        <div class="money-numbers">
                            <h2 class="active-number">10</h2>
                            <h2>100</h2>
                            <h2>1000</h2>
                            <h2>10000</h2>
                        </div>
                        <p class="mb-2 mt-4">Number</p>
                        <div class="w-100 ">
                            <div class=" d-flex align-items-center justify-content-between ">
                                <div class="pointer quantity-btn minus-btn" data-quantity="minus" data-field="quantity">
                                    -
                                </div>
                                <input type="number" name="quantity" id="qtyNumber" class="qty text-center w-100 qty-number" step="1"
                                       min="1" max="10" value="1">
                                <div class="pointer quantity-btn plus-btn" data-quantity="plus" data-field="quantity">
                                    +
                                </div>
                            </div>
                        </div>
                        <p class="mb-2 mt-4 ">Total contract money is <span class="total-contract-money" id="total-contract-money">10</span></p>
                        <form action="">
                            <div class="form-check d-flex align-items-center  mt-3">
                                <input class="form-check-input green-checkbox" type="checkbox" value=""
                                       id="flexCheckDefault">
                                <label class="form-check-label ms-2 mt-1" for="flexCheckDefault">
                                    I agree <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                                    data-bs-target="#privacyModal" class="text-green modal-privacy-btn">
                                        PRESAL
                                        RULES
                                    </button>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn " data-bs-dismiss="modal">@resSharedPB.lblCancel</button>
                    <button type="button" id="btnConfirm" class="btn green-btn text-white">@resSharedPB.lblConfirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Privacy Policy-->
    <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-privacy">
            <div class="modal-content  ">
                <div class="modal-header join-modal-header-privacy">
                    <h5 class="modal-title text-dark">Privacy Policy</h5>
                </div>
                <div class="modal-body">
                    <div class="join-modal join-modal-privacy">
                        <p class="mb-2">
                            In order to protect the legitimate rights and interests of users participating
                            in the presale and maintain the normal operation order of the presale, the rules are
                            formulated in accordance with relevant agreements and rules of national laws and regulations
                        </p>
                        <h1 class="main-heading-3 mb-3 mt-3">
                            Chapter 1 Definition
                        </h1>
                        <p>
                            1.1&nbsp; &nbsp; Presale definition: refers to a sales model in which a merchant provides a
                            product or service plan,
                            gathers consumer orders through presale product tools, and provides goods and / or services
                            to consumers according
                            to prior agreement.
                            <br><br>
                            1.2&nbsp; &nbsp; The presale model is a "deposit" model. "Deposit" refers to a fixed amount
                            of presale commodity
                            price pre-delivered. “The deposit” can participate in small games and have the opportunity
                            to win more deposits. The
                            deposit can be directly exchanged for commodities. The deposit is not redeemable.
                            <br><br>
                            1.3&nbsp; &nbsp; Presale products: refers to the products released by merchants using
                            presale product tools. Only
                            the presale words are marked on the product title or product details page, and the products
                            that do not use the
                            presale product tools are not presale products.
                            <br><br>
                            1.4&nbsp; &nbsp; Presale system: Refers to the system product tools provided to support
                            merchants for presale model
                            sales.
                            <br><br>
                            1.5 &nbsp; &nbsp; Presale commodity price: refers to the selling price of presale commodity.
                            The price of presale
                            goods is composed of two parts: deposit and final payment.
                            <br><br>
                            1.6 &nbsp; &nbsp; Presale deposit: Refers to a certain amount of money that consumers pay in
                            advance when purchasing
                            presale goods, which is mainly used as a guarantee to purchase presale goods and determine
                            the purchase quota.
                            <br><br>
                            1.7 &nbsp; &nbsp; Presale final payment: refers to the amount of money that the consumer
                            still has to pay after the
                            presale commodity price minus the deposit.
                        </p>
                        <h1 class="main-heading-3 mb-3 mt-3">
                            Chapter 2 Presale management specifications
                        </h1>
                        <h1 class="main-heading-3 mb-3 mt-3">
                            2.1 Commodity management
                        </h1>
                        <p>
                            2.1.1 &nbsp; &nbsp;Presale deposit time: up to 7 days can be set.
                            <br><br>
                            2.1.2 &nbsp; &nbsp;Presale final payment time: The start time of the final payment is within
                            7 days.
                            <br><br>
                            2.1.3&nbsp; &nbsp; During the presale of commodities, the system does not support merchants
                            to modify the price of
                            pre-sold commodities (including deposits and balances), but the amount of remaining
                            commodity inventory can be
                            modified according to the actual situation of inventory.
                            <br><br>
                            2.1.4 &nbsp; &nbsp;To avoid unnecessary disputes, If the presale product is a customized
                            product, the merchant
                            should clearly inform the consumer on the product page of the production cycle and delivery
                            time of the product, and
                            contact the consumer to confirm the delivery standard, delivery time, etc.
                            <br><br>
                            2.1.5&nbsp; &nbsp; For customized products, the merchant has not agreed with the consumer on
                            the delivery time and
                            delivery standard, the delivery standard proposed by the consumer is unclear or conflicts
                            and after the merchant
                            places an order, he(she) starts production and delivery without confirming with the
                            consumer, if the consumer
                            initiates a dispute as a result, the platform will treat it as a normal delivery time limit
                            order fulfillment.
                        </p>
                        <h1 class="main-heading-3 mb-3 mt-3">
                            2.2 Transaction management
                        </h1>
                        <p>
                            2.2.1&nbsp; &nbsp; Consumers who use the pre-sale system will lock in the pre-sale quota
                            after placing an order for
                            goods. If the pre-sale order is overtime, the system will automatically cancel it.
                            <br><br>
                            2.2.2 &nbsp; &nbsp;During the presale period, the merchant shall not cancel the presale
                            activities without reason.
                            For presale activities that have generated orders, the merchant must not cancel the order
                            without the consumer ’s
                            consent. If the consumer agrees, the merchant should double return the deposit paid by the
                            consumer; if the consumer
                            does not agree to cancel the order, the merchant should perform the contract according to
                            the order.
                            <br><br>
                            2.2.3 &nbsp; &nbsp;If the final payment of the presale order is not completed due to
                            consumer reasons, the merchant
                            can deduct the deposit paid by the consumer; if the merchant actively negotiates with the
                            consumer to terminate the
                            order before paying the final payment, the merchant shall double Return the deposit paid by
                            the consumer.
                        </p>
                        <h1 class="main-heading-3 mb-3 mt-3">
                            2.3 Delivery Management
                        </h1>
                        <p>
                            2.3.1 Delivery time limit setting
                            <br><br>
                            If the merchant sets the delivery time limit through the presale system, it should be
                            shipped within the set time
                            limit.
                            <br><br>
                            2.3.2 Shipping way
                            <br><br>
                            The third-party delivery the orders.
                            <br><br>
                            Customers need to provide your name, address and phone number to facilitate third-party
                            delivery orders.
                        </p>
                        <h1 class="main-heading-3 mb-3 mt-3">
                            2.4 After-sales management
                        </h1>
                        <p>
                            Presale products shall provide after-sales service in accordance with the "Regulations for
                            After-sales Service of Platform Merchants".
                        </p>
                        <h1 class="main-heading-3 text-dark mb-3 mt-3">
                            Explanation
                        </h1>
                        <p>
                            Mall transaction mode
                            <br><br>
                            There are two ways to buy in the mall, one is full purchase, and the other is deposit
                            purchase.
                            <br><br>
                            In the mode of full purchase, you can place an order directly and purchase goods in full
                            payment.
                            <br><br>
                            The deposit purchase mode will freeze the customer's deposit, and the customer will take
                            delivery after completing
                            the final payment within 7 days. Users who have paid a deposit will be given an extra point
                            quiz game. According to
                            the analysis of market fluctuations, they have the opportunity to win more points to deduct
                            the payment or send red
                            envelopes to friends.
                            <br><br>


                            The pre-order model has many benefits for customers. The deposit not only generates an order
                            for the customer, but
                            also gives the customer an equal amount of red envelopes, which can be withdrawn
                            immediately. Although the deposit
                            is not refundable, the red envelope converted from the deposit can be withdrawn without any
                            loss to the customer.

                            <br><br>

                            一. After the customer pays the deposit and orders, a merchandise order is generated, and the
                            mall began to prepare
                            this order. This deposit cannot be returned. After the customer needs to make up the
                            balance, the mall will ship the
                            goods. If the customer does not make up the balance, the product order will always exist.

                            二. After paying the deposit, the customer will be given a red envelope account with the same
                            amount of deposit.
                            <br><br>
                            1. The red envelope can be withdrawn directly, so that instead of losing money, the customer
                            has added a commodity
                            order generated by a deposit. And red envelopes can also be given to friends.
                            <br><br>
                            2. If the customer uses the red envelope account to participate in the game, you can earn
                            more red envelopes, but if
                            the game loses, the red envelope will be gone, but his merchandise order is still there.
                            <br><br><br><br>


                            Note: I have carefully read all contents of this presale management rule, Risk Disclosure
                            Agreement and Risk
                            Agreement and I am agreed to continue with my own risk.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue-btn text-white" data-bs-dismiss="modal">@resSharedPB.lblOK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="flickity/flickity-product.css">
    <script src="flickity/flickity.pkgd.min.js"></script>
    <script src="~/HotMall/main.js" type="text/javascript"></script>
    <script src="~/HotMall/js/product.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="~/HotMall/js/win.js"></script>
    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>
    <script>
        $(window).on("load", function (e) {
            $("#loader-wrapper").fadeOut("fast");
        })

        $(document).ready(function () {

            //this is to navigate to that particular tab. Use for when placed order i need to refresh the page to load the bet history
            if ('@ViewBag.GameIDTab' != "0") {
                $('.tablinks').each(function (idx, zz) {
                    var tabz = $(zz);

                    if (tabz.attr("gameidzzz") == '@ViewBag.GameIDTab') {

                        setTimeout(function () {                            
                            tabz.click();
                        }, 500); // executes after 200 miliseconds

                        setTimeout(function () {
                            tabz.addClass('active');
                        }, 500); // executes after 200 miliseconds
                    }
                });
            }

            $("#btnContinue").click(function (evt) {
                location.reload();
            });


            $('#qtyNumber').keyup(function (event) {
                var qty = document.getElementById('qtyNumber').value;
                var activeQty = $('.money-numbers').find('.active-number').text();

                var totalAmount = qty * activeQty;

                if (totalAmount > 0) {
                    document.getElementById('total-contract-money').innerHTML = totalAmount;
                }

                //console.log(qty);
                //console.log(activeQty);
                //console.log(totalAmount);
            });


            $("#btnConfirm").click(function (evt) {
                var isGLMei = $('#flexCheckDefault').is(':checked');

                if (!isGLMei) {
                    Swal.fire({
                        title: '@resSharedPB.msgPleaseAgreeRules',
                        showDenyButton: false,
                        showCancelButton: false,
                        confirmButtonText: '@resSharedPB.lblOK',
                    });
                }
                else {
                    var periodz = document.getElementById('periodzId').value;
                    var gamezId = document.getElementById('gamezId').value;
                    var selectedPositionz = document.getElementById('selectedPositionz').value;
                    var totalAmount = document.getElementById('total-contract-money').innerHTML;

                    //console.log(periodz);
                    //console.log(gamezId);
                    //console.log(selectedPositionz);
                    //console.log(totalAmount);

                    if (selectedPositionz == 'green') {
                        placenumbergame(55, gamezId, periodz, totalAmount);//Green
                    }
                    else if (selectedPositionz == 'violet') {
                        placenumbergame(66, gamezId, periodz, totalAmount);//Violet
                    }
                    else if (selectedPositionz == 'red') {
                        placenumbergame(77, gamezId, periodz, totalAmount);//Red
                    }
                    else {
                        placenumbergame(selectedPositionz, gamezId, periodz, totalAmount);//Green
                    }

                    $('#greenModal').modal('hide');

                    //this is to reset back all the amount selection
                    setTimeout(function () {
                        document.getElementById('total-contract-money').innerHTML = 10;
                        document.getElementById('qtyNumber').value = 1;

                        var count = 0;

                        $('.money-numbers > h2').each(function (idx, zz) {
                            var product = $(zz);

                            if (count == 0) {
                                product.addClass("active-number");
                            }
                            else {
                                product.removeClass();
                            }

                            count++;
                        });
                    }, 200); // executes after 200 miliseconds

                }
            });

            $(".playPopup").click(function (evt) {
                var gameid = $(this).attr("gamez");
                var currentperiod = $(this).attr("periodz");
                var posiz = $(this).attr("posiz");
                var posizHeaderTitle = posiz;
                var addclassHeaderBG = "join-modal-header-primary";

                if (posiz == "green") {
                    addclassHeaderBG = "join-modal-header";
                    posizHeaderTitle = '@resSharedPB.lblJoinGreen';
                }
                else if (posiz == "violet") {
                    addclassHeaderBG = "join-modal-header-violate";
                    posizHeaderTitle = '@resSharedPB.lblJoinViolet';
                }
                else if (posiz == "red") {
                    addclassHeaderBG = "join-modal-header-red";
                    posizHeaderTitle = '@resSharedPB.lblJoinRed';
                }
                else {
                    posizHeaderTitle = 'Select ' + posizHeaderTitle;
                }

                $('#playPopupHeaderID').removeClass();

                $('#periodzId').val(currentperiod);
                $('#gamezId').val(gameid);
                $('#selectedPositionz').val(posiz);

                $('#modalplaypopTitle').text(posizHeaderTitle);
                $('#playPopupHeaderID').addClass(addclassHeaderBG);
            });

            $('.parityRecord').DataTable({
                responsive: true,
                order: [[0, 'desc']] // Sort by first column in descending order
            });

            $('.myRecord').DataTable({
                responsive: true,
                order: [[0, 'desc']] // Sort by first column in descending order
            });

            function placenumbergame(numz, gamez, periodz, amountz) {

                $.ajax({
                    type: "POST",
                    url: "/User/PlaceNumberGame",
                    data: { num: numz, amount: amountz, gameid: gamez, period: periodz },
                    success: function (data) {
                        Swal.fire({
                             title: '@resSharedPB.msgOrderPlaceSucessfully',
                             showDenyButton: false,
                             showCancelButton: false,
                             confirmButtonText: 'OK',
                         }).then((result) => {
                             /* Read more about isConfirmed, isDenied below */
                             if (result.isConfirmed) {
                                var url = '@Html.Raw(@Url.Action("PlayGame", "User", new { gameid = -1 }))';
                                url = url.replace("-1", gamez);
                                window.location.href = url;
                             }
                         })


                    },
                    error: function (xhr, status, error) {
                        $('.loader-wrap').hide();
                        let r = jQuery.parseJSON(xhr.responseText);
                        var errorM = r.message;

                        Swal.fire({
                            title: errorM,
                            showDenyButton: false,
                            showCancelButton: false,
                            confirmButtonText: '@resSharedPB.lblOK',
                        });
                    }
                });
            }

        });
    </script>

    <script>
        var timerPool;
            var totalSeconds = '@Model.TimeLeftBasedEndDateTotalSeconds';

            clearInterval(timerPool);

            timerPool = setInterval(function () {
                var nTotalSeconds = parseInt(totalSeconds);
                var days = Math.floor(nTotalSeconds / 24 / 60 / 60);
                var hoursLeft = Math.floor((nTotalSeconds) - (days * 86400));
                var hours = Math.floor(hoursLeft / 3600);

                var minutesLeft = Math.floor((hoursLeft) - (hours * 3600));
                var minutes = Math.floor(minutesLeft / 60);

                var remainingSeconds = nTotalSeconds % 60;

                //var xx = days + ":" + hours + ":" + minutes + ":" + remainingSeconds;
                //console.log(xx);

                //$('#promoDay').html(days);
                //$('#promoHour').html(hours);
                $('.promoMinute').html(minutes.toString().padStart(2, '0'));
                $('.promoSecond').html(remainingSeconds.toString().padStart(2, '0'));

                function pad(n) {
                    return (n < 10 ? "0" + n : n);
                }

                //if reach 30 seconds, disable all button
                if (minutes == 0 && remainingSeconds <= 30) {
                    $(".playPopup").addClass("allbtndisable");
                    $(".playPopup").prop('disabled', true);
                }



                if (totalSeconds == 0) {
                    clearInterval(timerPool);

                    //if reach 0 seconds, enable the continue button for customer to click to refresh
                    $('.continue-btn').toggleClass('continue-enable')
                    $('.clock-count-down').toggleClass('clock-disable')

                    //else after 4 secs customer did not press, auto refresh
                    setTimeout(function () {
                        location.reload();
                    }, 4000); // executes after 200 miliseconds
                } else {
                    totalSeconds--;
                }

            }, 1000);
    </script>
</body>

</html>