<!DOCTYPE html>
@using resSharedPB = FreshMVC.Resources.PackBuddyShared;
@using FreshMVC.Models
@model PaymentModel
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Reliance</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    @Html.Partial("HeaderMenu")
    <main>
        <!-- Search Bar -->
        <section class="section-wrap ">
            <section class="section-wrap bg-peach px-lg-4 px-1">
                <div class="section-inner-wrapper padding-s" style="overflow: visible;">
                    <div class="display-space">
                        <div class="middle">
                            <img class="mall-icon-top pointer" src="img/back-arrow.svg" alt=""
                                 onclick="history.back();">
                        </div>
                        <div>
                            <div class="d-flex flex-column ">
                                <div class="text-bold text-s text-white">@resSharedPB.lblAvailableBalance:</div>
                                <h2 class="text-m text-white">₹ @Model.Amount</h2>
                            </div>
                        </div>
                        <div class="recharge-history">
                            <a href="rechargerecord.html">
                                <i class="bi bi-list text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </section>
            <section class="section-inner-wrapper p-lg-0 px-3 py-0 overflow-hidden">
                <div class="contaienr-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="width-100 center py-4" action="">
                                <div class="input-custom max-width-800">
                                    <input class="width-100 " type="text" name="search" id="search"
                                           placeholder="Enter or Select recharge amount">
                                    <button class="search-button" type="submit">
                                        <i class="bi bi-currency-rupee text-grey search-icon"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid ">

                    <div class="row justify-content-center">
                        <div class="col-lg-2 col-md-3 col-4 ">
                            <button class="amount-btn" type="button" value="500">
                                ₹500
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4 ">
                            <button class="amount-btn" type="button" value="1000">
                                ₹1000
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4 ">
                            <button class="amount-btn" type="button" value="2000">
                                ₹2000
                            </button>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-2 col-md-3 col-4 ">
                            <button class="amount-btn" type="button" value="5000">
                                ₹5000
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4 ">
                            <button class="amount-btn" type="button" value="10000">
                                ₹10000
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-4 ">
                            <button class="amount-btn" type="button" value="49999">
                                ₹49999
                            </button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 mx-auto my-lg-3 my-3">
                            <h1 class="main-heading-3 text-dark">
                                @resSharedPB.lblPayment
                            </h1>
                            <form action="">
                                <div class="form-check d-flex align-items-center  mt-3">
                                    <input class="form-check-input red-checkbox" name="flexRadioDefault"
                                           type="radio" value="" id="flexCheckDefault1">
                                    <label class="form-check-label ms-2 mt-1 " for="flexCheckDefault1">
                                        CsPay
                                    </label>
                                </div>

                                <div class="form-check d-flex align-items-center  mt-3">
                                    <input class="form-check-input red-checkbox" name="flexRadioDefault"
                                           type="radio" value="" id="flexCheckDefault2">
                                    <label class="form-check-label ms-2 mt-1" for="flexCheckDefault2">
                                        WinPay
                                    </label>
                                </div>

                                <div class="form-check d-flex align-items-center  mt-3">
                                    <input class="form-check-input red-checkbox" name="flexRadioDefault"
                                           type="radio" value="" id="flexCheckDefault3">
                                    <label class="form-check-label ms-2 mt-1" for="flexCheckDefault3">
                                        WowPay
                                    </label>
                                </div>

                                <div class="my-4">
                                    <a href="#" id="btnSaveAd"
                                       class="blue-btn-recharge w-100 text-center">@resSharedPB.lblRecharge</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
    </main>
    @Html.Partial("FooterMenu")

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/HotMall/flickity/flickity.css">
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="~/HotMall/flickity/flickity.pkgd.min.js"></script>
    <script src="~/HotMall/main.js" type="text/javascript"></script>
    <script src="~/HotMall/win.js" type="text/javascript"></script>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();

    </script>
    <script>
        $(document).ready(function () {
            $('#parityRecord').DataTable({
                responsive: true
            });

        });
        $(document).ready(function () {
            $('#myRecord').DataTable({
                responsive: true
            });
        });
    </script>
    <script>
        $('#loader-wrapper').hide();
    </script>

    <script>
        $(document).ready(function () {


            $(".amount-btn").click(function (evt) {
                document.getElementById("search").value = this.value;
            });

            $("#btnSaveAd").click(function (evt) {
                //location.href = "/User/RechargeMethod?rechargeAmount=" + document.getElementById("search").value;

                 $.ajax({
                     type: "POST",
                     url: "/User/RechargeMethod",
                     data: { rechargeAmount: document.getElementById("search").value },
                        success: function (data) {
                           // do nothing bah
                            location.href = "/User/CreatePaymentTwo?amount=" + document.getElementById("search").value;
                        },
                        error: function (xhr, status, error) {
                            let r = JSON.parse(xhr.responseText);
                            alert(r.message);
                        }
                    });
            });
        });
    </script>

</body>

</html>