@using resShared = FreshMVC.Resources.PackBuddyShared;
@using FreshMVC.Models
@model AdminModel
<script src="~/DatePicker/js/bootstrap-datepicker.js"></script>
<link href="~/DatePicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/DatePicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

<script type="text/javascript">

    $("#btnSaveAd").click(function (evt) {
        $('.page-loader-wrapper').show();
            $.ajax({
                type: "POST",
                url: "/AdminGeneral/ModalEditUserListDataMethod",
                data: $("#editAdForm").serialize(),
                success: function (data) {
                    $('.page-loader-wrapper').hide();
                    $("#main-content").html(data);
                    alert("@resShared.msgSaveSuccessfully");
                },
                error: function (xhr, status, error) {
                    $('.page-loader-wrapper').hide();
                   let r = jQuery.parseJSON(xhr.responseText);
                    var errorM = r.message;
                    alert(errorM);
                }
            });
        //}
    });


</script>

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h2>@resShared.mnuUserListing</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./Home"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">@resShared.lblUpdate</li>
                </ul>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("ModalEditUserListDataMethod", "AdminGeneral", FormMethod.Post, new { name = "editAdForm", id = "editAdForm" }))
    {
        <div class="page-content p-6">
            <div class="content container">
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.IsAgent)
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="example">
                            <div class="description">
                                <div class="description-text">
                                </div>
                            </div>
                            <div class="source-preview-wrapper">
                                <div class="preview">
                                    <div class="preview-elements">
                                        @if (Model.UserID == 0)
                                        {
                                            <div class="form-group">
                                                <strong>@resShared.lblPhone <span style="color: Red">*</span></strong>
                                                @Html.TextBoxFor(model => model.Username, new
                                                {
                                                    @class = "form-control"
                                                })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <strong>@resShared.lblPhone <span style="color: Red">*</span></strong>
                                                @Html.TextBoxFor(model => model.Username, new
                                                {
                                                    @class = "form-control",
                                                    @readonly = "readonly"
                                                })
                                            </div>
                                        }
                                        <div class="form-group">
                                            <strong>@resShared.lblFirstName <span style="color: Red">*</span></strong>
                                            @Html.TextBoxFor(model => model.Name, new
                                            {
                                                @class = "form-control"
                                            })
                                        </div>
                                        <div class="form-group">
                                            <strong>@resShared.lblIntro <span style="color: Red">*</span></strong>
                                            @Html.TextBoxFor(model => model.ReferralID, new
                                            {
                                                @class = "form-control"
                                            })
                                        </div>

                                        @if (Model.UserID == 0)
                                        {
                                            <div class="form-group">
                                                <strong>@resShared.lblPassword <span style="color: Red">*</span></strong>
                                                @Html.PasswordFor(model => model.Password, new
                                                {
                                                    @class = "form-control"
                                                })
                                            </div>
                                        }

                                        <input id="btnSaveAd" type="button" class="btn btn-sm btn-primary" style="width:180px; height:35px" value="@resShared.btnSave" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
        $(function () {

            $("#DOB").datepicker({
                autoclose: true,
                altField: "#alternate",
                altFormat: "DD, d MM, yy",
                format: 'dd/mm/yyyy'
            });
        });

</script>