@using resShared = FreshMVC.Resources.PackBuddyShared;
@using FreshMVC.Models
@model PaginationPaymentModel

<script src="~/DatePicker/js/bootstrap-datepicker.js"></script>
<link href="~/DatePicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/DatePicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Lucid/assets/vendor/dropify/css/dropify.min.css">
<link rel="stylesheet" href="~/Lucid/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
<script src="~/Lucid/assets/vendor/dropify/js/dropify.min.js"></script>
<script src="~/Lucid/assets/js/pages/forms/dropify.js"></script>
<script src="~/Lucid/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

<script type="text/javascript">
    $(function () {
        $("#From").datepicker({
            autoclose: true,
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd/mm/yyyy'
        });

        $("#To").datepicker({
            autoclose: true,
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
            format: 'dd/mm/yyyy'
        });
    });

    $("#btnSearch, #btnPage").click(function (evt) {
        var filterValue = $("#FilterValue").val();
        var e = document.getElementById("page")
        var page = "1";
        if (e != null) {
            page = e.options[e.selectedIndex].value;
        }
        var selectedOption = $("#SelectedFilteringCriteria").val();
        var fromDate = $("#From").val();
        var toDate = $("#To").val();

        if (fromDate != "" && toDate == "") {
            alert("@resShared.msgInvalidToDate");
            return;
        }
        else if (fromDate == "" && toDate != "") {
            alert("@resShared.msgInvalidFromDate");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/AdminGeneral/WithdrawalListing",
            data: {
                selectedPage: page,
                filterType: selectedOption,
                filterValue: filterValue,
                fromDate: fromDate,
                toDate: toDate,
            },
            success: function (data) {
                $("#main-content").html(data);
                event.stopPropagation();
            },
            error: function (xhr, status, error) {
                var errorM = xhr.responseText;
                errorM = errorM.replace('""', '');
                alert(errorM);
            }
        });
    });

     $("#DeleteData").click(function (e) {
        deleteProduct($("#TemporaryOrderID").val());
    });

    function deleteProduct(id) {
        if (confirm("@resShared.msgConfirmToReject")) {
            $.ajax({
                url: "/AdminGeneral/RejectWithdrawal",
                type: "POST",
                data: { idz: id },
                success: function (data) {
                    alert("@resShared.lblUpdateSuccessfully");
                    $("#main-content").html(data);
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
             	    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');

                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }

        $("#taskmodal").modal('hide');
    };

    $("#EditData").click(function (e) {
        manualApprove($("#TemporaryOrderID").val());
    });

    $("#btnApprove").click(function (e) {
        Approve($("#TemporaryOrderID").val());
    });

    function Approve(id) {
        if (confirm("@resShared.msgConfirmToApprove")) {
            $.ajax({
                url: "/AdminGeneral/ApproveWithdrawal",
                type: "POST",
                data: { idz: id },
                success: function (data) {
                    alert("@resShared.lblUpdateSuccessfully");
                    $("#main-content").html(data);
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
             	    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');

                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }

        $("#taskmodal").modal('hide');
    };

    function manualApprove(id) {
        if (confirm("@resShared.msgConfirmToApprove")) {
            $.ajax({
                url: "/AdminGeneral/ManualApproveWithdrawal",
                type: "POST",
                data: { idz: id },
                success: function (data) {
                    alert("@resShared.lblUpdateSuccessfully");
                    $("#main-content").html(data);
                    event.stopPropagation();
                },
                error: function (xhr, status, error) {
             	    var errorM = xhr.responseText;
                    errorM = errorM.replace('""', '');

                    alert(errorM);
                    $('#Loading').hide();
                }
            });
        }

        $("#taskmodal").modal('hide');
    };
</script>

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h2>@resShared.mnuWithdrawalListing</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./Home"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">@resShared.mnuListing</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid" style="margin-left: 10px; margin-right: 10px" id="grid">
        <input type="hidden" id="eliminateId" />
        <div class="table-responsive">
            <div class="row">

                <div class="grid" style="margin-left: 15px;" id="grid">
                    <strong>@resShared.lblFilterOption</strong>
                    @Html.DropDownListFor(model => model.SelectedFilteringCriteria, @Model.FilteringCriteria, new { @id = "SelectedFilteringCriteria", @class = "form-control", @style = "width:215px;" })

                </div>

                <div class="grid" style="margin-left: 5px;" id="gridFilterValue">
                    <strong id="optionText">@resShared.lblValue</strong>
                    @Html.TextBoxFor(model => model.FilterValue, new { @class = "form-control", @id = "FilterValue" })
                </div>
            </div>
            <div class="row">
                <div class="grid" style="margin-left: 15px;">
                    <strong>@resShared.lblFrom</strong>
                    @Html.TextBoxFor(model => model.FromDate, new
                    {
                        @class = "form-control",
                        @id = "From",
                        autocomplete = "off"
                    })
                </div>
                <div class="grid" style="margin-left: 5px;">
                    <strong>@resShared.lblTo</strong>
                    @Html.TextBoxFor(model => model.ToDate, new
                    {
                        @class = "form-control",
                        @id = "To",
                        autocomplete = "off"
                    })
                </div>
                <div class="grid" style="margin-left: 5px;" id="grid">
                    <br />
                    <button id="btnSearch" type="button" class="btn btn-primary" style="width: 100px;">@resShared.btnSearch</button>
                </div>
            </div>

            <div class="grid" style="margin-left: 5px;" id="grid">
                <a href="@Url.Action("DownloadWithdrawalListing", "AdminGeneral", new {filterType= @Model.SelectedFilteringCriteria, filterValue= @Model.FilterValue, fromDate = @Model.FromDate, toDate = @Model.ToDate})" class="btn btn-primary" style="float:right;width:180px;" target="_blank">
                    @resShared.btnDownload
                </a>
            </div>
            @Html.HiddenFor(m => m.TemporaryOrderID)
            <br /><br />
            <table id="tablestyle" width="100%" class="table table-bordered table-hover table-striped" border="1px solid #414558;">
                <thead>
                    <tr style="background-color: #414558;color:white">
                        <th>#</th>
                        <th>
                            @resShared.lblReferenceID
                        </th>
                        <th>
                            @resShared.lblUsername
                        </th>
                        <th>
                            @resShared.lblName
                        </th>
                        <th>
                            @resShared.lblPhone
                        </th>
                        <th>
                            @resShared.lblWithdrawalAmount
                        </th>
                        <th>
                            @resShared.lblServiceFee
                        </th>
                        <th>
                            @resShared.lblFinalAmount
                        </th>
                        <th>
                            @resShared.lblApplicationTime
                        </th>
                        <th>
                            @resShared.lblBalanceBeforeWith
                        </th>
                        <th>
                            @resShared.lblBalanceAfterWith
                        </th>
                        <th>
                            @resShared.lblStatus
                        </th>
                        <th style="width: 5%; color: White; ">
                            @resShared.lblView
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.List.Count == 0)
                    {
                        <tr style="height: 25px; border-top: 1px solid white;">
                            <td style="padding: 5px;" colspan="14">
                                @resShared.lblNoRecFound
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.List)
                    {
                        <tr style="height: 25px; border-top: 1px solid white;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BalanceBeforeWdr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BalanceAfterWdr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a class="viewClass" withdrawalid="@item.id" accountname="@item.AccountName" 
                                   cardno="@item.CardNo" subbranch="@item.SubBranch" city="@item.City"
                                   state="@item.State"
                                   bankname="@item.BankName" account="@item.AccountName" 
                                   address="@item.Address"
                                   mobile="@item.Mobile"
                                   username="@item.Username"
                                   amount="@item.Amount"
                                   fee="@item.ServiceFee"
                                   finalamount="@item.FinalAmount"
                                   email="@item.Email"
                                   href="#">@resShared.lblView</a>
                            </td>                        
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.List.Count != 0)
        {
            <table width="auto" style="text-align:right; margin-right:0px; margin-left:auto;margin-bottom:30px">
                <tr style="text-align: right">
                    <td style="text-align: right">
                        <div class="BtnClass" style="float: right;">
                            @Html.DropDownList("page", @Model.Pages, new
                            {
                                style = "width:80px;",
                                @class = "form-control"
                            })

                        </div>
                    </td>
                    <td style="text-align: right">
                        <button id="btnPage" type="button" class="btn btn-primary" style="width:100px">@resShared.btnView</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
<div class="modal" id="taskmodal" tabindex="-1" aria-labelledby="taskmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-lights border-0">
            <div class="modal-header">
                <h6 class="modal-title" id="taskmodalLabel">@resShared.lblInfo</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body" style="padding-top:20px; padding-bottom:0px;">

                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblUsername</label>
                    <input class="form-control" id="username" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblAmount</label>
                    <input class="form-control" id="amount" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblServiceFee</label>
                    <input class="form-control" id="fee" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblFinalAmount</label>
                    <input class="form-control" id="finalamount" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblActualName</label>
                    <input class="form-control" id="name" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblIFSCCode</label>
                    <input class="form-control" id="ifsccode" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblBankName</label>
                    <input class="form-control" id="bankname" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblBankAccount</label>
                    <input class="form-control" id="bankaccount" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblState</label>
                    <input class="form-control" id="state" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblCity</label>
                    <input class="form-control" id="city" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblMobile</label>
                    <input class="form-control" id="mobile" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblAddress</label>
                    <input class="form-control" id="address" value="" disabled />
                </div>
                <div class="form-floating mb-3">
                    <label class="form-control-label">@resShared.lblEmail</label>
                    <input class="form-control" id="email" value="" disabled />
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="#" class="btn btn-outline-secondary d-block w-100" data-bs-dismiss="modal" id="EditData">@resShared.lblManualApprove</a>
                <a href="#" class="btn btn-outline-secondary d-block w-100" data-bs-dismiss="modal" id="btnApprove">@resShared.lblApprove</a>
                <a href="#" class="btn btn-outline-secondary d-block w-100" data-bs-dismiss="modal" id="DeleteData">@resShared.lblReject</a>
            </div>
        </div>
    </div>
</div>

<script>

    $(".btn-close").click(function (evt) {
        $("#taskmodal").modal('hide');
    });

    $(".viewClass").click(function (evt) {

        var id = $(this).attr("withdrawalid");
        $("#TemporaryOrderID").val(id);

        $("#username").val($(this).attr("username"));
        $("#name").val($(this).attr("bankname"));
        $("#ifsccode").val($(this).attr("subbranch"));
        $("#bankname").val($(this).attr("accountname"));
        $("#bankaccount").val($(this).attr("cardno"));
        $("#city").val($(this).attr("city"));
        $("#state").val($(this).attr("state"));

        $("#address").val($(this).attr("address"));
        $("#mobile").val($(this).attr("mobile"));
        $("#email").val($(this).attr("email"));

        $("#amount").val($(this).attr("amount"));
        $("#fee").val($(this).attr("fee"));
        $("#finalamount").val($(this).attr("finalamount"));

        $("#taskmodal").modal('show');
    });


</script>